.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height to center vertically */
    width: 100vw; /* Full viewport width */
    background-color: #f9f9f900; /* Light background color */
    padding: 20px; /* Padding for mobile devices */
    box-sizing: border-box; /* Ensure padding doesn't affect the width */
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 157, 255, 0.466); /* Your background color */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Limit max width for better responsiveness */
    width: 100%; /* Full width for mobile */
}

.input {
    width: 100%; /* Full width for inputs */
    height: 35px;
    padding: 8px;
    margin: 10px 0;
    outline: none;
    border: 1px solid #2c444e;
    border-radius: 4px;
    font-size: 14px;
}

.button {
    width: 100%; /* Full width for the button */
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    color: white;
    background-color: #000000bc;
    border-radius: 12px;
    margin: 10px 0;
    outline: none;
    border: none;
    cursor: pointer;
}

.text {
    font-size: 14px;
    color: #fef9f9;
    margin: 5px 0;
    padding: 0;
    text-align: center;
}

@media (max-width: 768px) {
    .content {
        padding: 1.5rem;
        max-width: 90%; /* Make content box smaller on mobile */
    }

    .input, .button {
        font-size: 16px; /* Slightly smaller font size on mobile */
    }
}
