.bgImg {
    background-image: url("https://res.cloudinary.com/duwadnxwf/image/upload/v1729736625/axBot_xfoz0m.webp");

    background-size: contain; /* Keeps the image aspect ratio intact */
    background-position: center top; /* Aligns the image to the top center */
    background-repeat: no-repeat; /* Prevents the image from repeating */

    height: 100vh; /* Limits the height to the viewport */
    max-height: 100%; /* Ensures it doesn't stretch beyond the container */
    width: 100%; /* Ensures the width is 100% of the container */
    position: relative;
}

